<h1>Lista de Raças</h1>

<table> 
    <thead> <!--Cabeçalho da tabela-->
        <tr> <!--Linha da tabela-->
            <th>Códiogo</th> <!--Coluna específica do cabeçalho-->
            <the>Nome</the>
            <th>Espécie</th>
        </tr>
    </thead>
    <tbody>
        <!--Lugar dos registros da tabela-->
        <tr>
            <td>1</td> <!--Coluna especifica para body-->
            <td>Pinscher</td>
            <td>Cachorro</td>
        </tr>
    </tbody>
</table>